body {background: grey;}
h2 {text-align: center;
    padding-top: 20px;}
input {margin: 10px 20%;
      width: 60%;
      text-align: center;
    }
button {width: 90%;
        text-decoration: none;
        background: inherit;
        border: none;
        color: inherit;
        font-weight: inherit;
        height: 90%;}
button:hover {}
.data {background: black;
      color: white;
      width: 80%;
      margin: 4em auto;}
.data div {display: flex;
          width: 100%;
          justify-content: center;
          height: 70px;
          }
.data div span {flex-basis: 12%;
                text-align: center;
                padding: 15px 0;
                line-height: 20px;
                }
.data div span img {margin: 0px;
                    padding:0;
                    height: 40px;}
.nav {background: deeppink;
      font-weight: 700;
      }
.nav span {line-height: 15px;
            margin: auto 0;
            }

.data div span+span {border-left: 2px solid white}
